@import "tailwindcss";

@layer utilities {
	.scrollbar-thin::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}

	.scrollbar-thin::-webkit-scrollbar-track {
		background: transparent;
	}

	.scrollbar-thin::-webkit-scrollbar-thumb {
		background-color: #374151;
		border-radius: 9999px;
	}

	.scrollbar-thin::-webkit-scrollbar-thumb:hover {
		background-color: #4b5563;
	}

	.scrollbar-thin {
		scrollbar-width: thin;
		scrollbar-color: #374151 transparent;
	}
}
