<div>
  <%= render "projects/sidebar_ui", open: false %>
  <div id="projects_list" class="space-y-1">
    <% if current_user.projects.any? %>
      <%= render current_user.projects.order(:title) %>
    <% else %>
      <div id="no_projects_msg" class="px-3 text-sm text-gray-600 italic">No projects yet</div>
    <% end %>
  </div>
</div>